@using SIGESDOC.Web.Seguridad

@* @model IEnumerable < SIGESDOC.Response.> *@

@{
    ViewBag.Title = "Mesa de Partes Virtual - Despacho";
}

<ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="#">Mesa de Partes Virtual</a></li>
    <li class="active">Consulta de Despacho</li>
</ol>

<div class="bs-callout bs-callout-info">
    <h4>Mesa de Partes - Despacho </h4>
    <p>En esta sección usted puede Consultar los documentos por emitir</p>
</div>

<div class="panel panel-primary">



</div> 
