<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información para usar la transformación de Web.config, consulte http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <machineKey validationKey="FA81568118496BFFF2F83FA422CEFE29C2B261A30DC851E7BDCFEF05822C6ABE406FEECE9919AFAB0244E9F6C73BBDF1F5FE9FA716AE115B6374E527E4C6F9E8" decryptionKey="789CFE59E25EEA3BC20613DBEB8AA50871015656EC33475FE9E505D097E7A841" validation="SHA1" decryption="AES"  xdt:Transform="Replace"/>

    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
